body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  button {
    border-radius: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 19px 43px;
    letter-spacing: 2%;
    font-size: 18px;
  }
}

.tabs {
  display: flex;
  /* row-gap: 2rem; */
  gap: 2rem;
  .tabsnet {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
  }
}

.furniture {
  color: #ffd400;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 60px;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;
  padding-left: 100px;
  padding-left: 100px;
  place-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;

  .neat {
    font-weight: 700;
    font-size: 110px;
    letter-spacing: 2%;
    padding-top: 20px;
    line-height: 100%;
    white-space: nowrap;
    margin: 0px;
  }
  button {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    padding: 21px 57px;
    background-color: #ffd400;
    border-radius: 100px;
    width: 243px;
    height: 71px;
    white-space: nowrap;
    margin-top: 56px;
    margin-bottom: 121px;
    border: none;
  }
}

.Projectimages {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  width: 100%;

  .Projectimage1 {
    width: 524px;
    height: 501px;
    padding-right: 74px;
  }

  .Projectimage2 {
    width: 213px;
    height: 120px;
    padding-bottom: 10rem;
    padding-right: 45px;
  }
}

.interior {
  /* margin: 0px; */
  padding-right: 270px;

  p {
    margin: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }
}

.figures {
  display: flex;
  align-items: flex-end;
  gap: 99px;
  padding-top: 72px;
  padding-right: 23px;
  padding-bottom: 110px;

  h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    padding-bottom: 6px;
    margin: 0px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    white-space: nowrap;
  }
}

.right-side img {
  width: 835px;
  height: 592px;
}

.line {
  width: 100%;
  height: 200px;
  background-color: #fff;
}
