body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 1440px;
}

#hero-content {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 70px;
  button {
    border-radius: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 12px 30px;
    letter-spacing: 2%;
    font-size: 11px;
  }
}

.tabs {
  display: flex;
  gap: 2rem;

  .tabsnet {
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
  }
}

.furniture {
  color: #ffd400;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  place-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;

  .neat {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 2%;
    padding-top: 5px;
    line-height: 100%;
    white-space: nowrap;
    margin: 0px;
  }
  button {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    padding: 12px 25px;
    background-color: #ffd400;
    border-radius: 100px;
    width: 170px;
    height: 50px;
    white-space: nowrap;
    margin-top: 36px;
    margin-bottom: 90px;
    border: none;
  }
}

.Projectimages {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  width: 100%;

  .Projectimage1 {
    width: 400px;
    height: 380px;
    padding-right: 60px;
  }

  .Projectimage2 {
    width: 150px;
    height: 70px;
    padding-bottom: 10rem;
    padding-right: 30px;
  }
}

.interior {
  /* margin: 0px; */
  padding-right: 270px;

  p {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-bottom: 25px;
  }
}

.figures {
  display: flex;
  align-items: flex-end;
  gap: 66px;
  /* padding-top: 20px; */
  padding-right: 23px;
  padding-bottom: 200px;

  h2 {
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 6px;
    margin: 0px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    white-space: nowrap;
  }
}

.right-side img {
  width: 540px;
  height: 370px;
  padding-bottom: 200px;
}
